*.jl.cov
*.jl.*.cov
*.jl.mem
/Manifest.toml
src/libzstd/LibTemplate.jl
src/libzstd/ctypes.jl
/github/
settings.json
**/*.json
**/*.json.tmp
benchmark/Manifest.toml
dictionary
github_users_sample_set.tar
github_users_sample_set.tar.zst
